<?xml version="1.0"?>

<launch>
  
  <!--<node pkg="hannrs_vision" type="vision_node" name="vision_node97" output="screen">
    <param name="image" value="/camera_driver_99_2/stream" />
    <param name="calib_file" value="$(find hannrs_vision)/calib/calib_cam99.yml"/>
    <param name="borders_file" value="$(find hannrs_vision)/calib/cam99_borders.yaml"/>
    <param name="classifier" value="$(find hannrs_vision)/data/cam97full_classifier2.xml"/>
    <param name="camera" value="cam99"/>
    <param name="data" value="/home/mateus/cam99_posdata.txt"/>
    <param name="transform" value="$(find hannrs_vision)/calib/cam99_world.yaml"/>
  </node>-->
  
  <node pkg="hannrs_vision" type="vision_node" name="vision_node97" output="screen">
    <param name="image" value="/camera_driver_97_2/stream" />
    <param name="calib_file" value="$(find hannrs_vision)/calib/calib_cam97.yml"/>
    <param name="borders_file" value="$(find hannrs_vision)/calib/cam97_borders.yaml"/>
    <param name="classifier" value="$(find hannrs_vision)/data/cam97full_classifier2.xml"/>
    <param name="camera" value="cam97"/>
    <param name="data" value="/home/mateus/cam97_posdata.txt"/>
    <param name="transform" value="$(find hannrs_vision)/calib/cam97_world.yaml"/>
  </node>
  
  <!--<node pkg="hannrs_vision" type="vision_node" name="vision_node98" output="screen">
    <param name="image" value="/camera_driver_98_2/stream" />
    <param name="calib_file" value="$(find hannrs_vision)/calib/calib_cam98.yml"/>
    <param name="borders_file" value="$(find hannrs_vision)/calib/cam98_borders.yaml"/>
    <param name="classifier" value="$(find hannrs_vision)/data/cam98full_classifier.xml"/>
    <param name="camera" value="cam98"/>
    <param name="data" value="/home/mateus/cam98_posdata.txt"/>
    <param name="transform" value="$(find hannrs_vision)/calib/cam98_world.yaml"/>
  </node>-->

</launch>