#!/usr/bin/env python

PACKAGE='hannrs_costmap_layers'

import sys

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ",             True)
gen.add("importance",  double_t, 0, "Factor to multiply by the costmap_2d::LethalObstacle cost",                 1.0, 0.0, 1.0)
exit(gen.generate(PACKAGE, "hannrs_costmap_layers", "InteractionLayer"))