<?xml version='1.0'?>

<database>
      <name>MSThesis sim</name>
      <license>Creative Commons Attribution 3.0 Unported</license>

      <models>
	<uri>file://living_room</uri>
      </models>
      
      <models>
	<uri>file://floor</uri>
      </models>
      
      <models>
	<uri>file://actor</uri>
      </models>
      
      <models>
	<uri>file://actor_siting</uri>
      </models>
      
      <models>
	<uri>file://sofa</uri>
      </models>
      
      <models>
	<uri>file://tv</uri>
      </models>
      
      <models>
	<uri>file://coffee_table</uri>
      </models>
      
      <models>
	<uri>file://plant</uri>
      </models>
      
      <models>
	<uri>file://chair2</uri>
      </models>
      
      <models>
	<uri>file://chair3</uri>
      </models>
      
      <models>
	<uri>file://ouside_wall</uri>
      </models>
      <models>
	<uri>file://bedroom</uri>
      </models>
      <models>
	<uri>file://bathroom</uri>
      </models>
      <models>
	<uri>file://floor</uri>
      </models>
      <models>
	<uri>file://inside_hallway</uri>
      </models>
      <models>
	<uri>file://outside_hallway</uri>
      </models>
      <models>
	<uri>file://patio</uri>
      </models>

</database>
