<?xml version="1.0" encoding="utf-8"?>
<launch>
  
  <include file="$(find hanp_sim)/launch/living.launch"/>
  
  <include file="$(find hanp_sim)/launch/model.launch"/>
  
   <!-- Launching amcl, joy and the drivers --> 
  <arg name="map" default="$(find hanp_sim)/maps/living_sim.yaml"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args=" $(arg map)" required="true">
    <param name="frame_id" value="/map" />
  </node>
  
  <include file="$(find hanp_sim)/launch/amcl_simulation.launch"/>
  
  <node name="global_map" pkg="costmap_2d" type="costmap_2d_node">
    <rosparam file="$(find hanp_sim)/config/global_map.yaml" command="load" />
  </node>

</launch>